.formStyle {
  display: flex;
  align-items: center;
}

.input {
  color: white;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  background-color: transparent;
  height: 30px;
}

.input:hover,
.input:focus {
  outline: 2px solid orange;
  border: none;
}

.buttonSearch {
  width: 50px;
  height: 40px;
  background-color: #1e2939;
  color: white;
  margin-left: 5px;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid white;
}

.buttonSearch:hover,
.buttonSearch:focus {
  border: 1px solid orange;
  background-color: black;
}
